header {
    background-repeat: no-repeat;
    background-image: url('../img/Decore.png');
    background-position: right top;
}

span {
    background-repeat: no-repeat;
    background-image: url('../img/Decore2.png');
    background-position: 5% 90%;
    background-size: 145%;
}

.top {
    display: flex;
    justify-content: space-around;

}

.top .menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

a:hover {
    font-weight: bold;
}

.top .menu ul {
    display: flex;
    list-style: none;
}

.menu {
    font-family: sans-serif;
}

.top .menu ul li {
    margin: 20px 50px;
}

a {
    text-decoration: none;
    color: black;
}

#logo {
    width: 214.91px;
    height: 123.99px;
}

#btn3 {
    background: none;
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 15px 20px;
}


#divText {
    width: 40%;
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #DF6951;
    padding: 0px 0px 0px 50px;
}

h2 {
    font-family: Volkhov;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #181E4B;
    padding: 0px 0px 0px 50px;
    margin: 0;
}

#text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
    padding: 0px 50px;
}

#btn1 {
    width: 170px;
    height: 60px;
    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    border: white;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

#btn2 {
    width: 52px;
    height: 52px;
    background: #DF6951;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
    border-radius: 50%;
    border: white;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn2 {
    display: flex;
    align-items: flex-start;
    position: relative;
    left: -9%;
}

#centerPol {
    display: flex;
    align-items: center;
    justify-content: center;
}

#polig {
    position: relative;
    left: -30px;
}

#deco2 {
    position: relative;
    top: 89px;
    left: 293px;
    z-index: -1;
}

#txtbtn {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #686D77;
}

.container {
    display: flex;
}