@font-face {
    font-family: "Intro-Regular";
    src: url("../fonts/intro-regular/intro-regular.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/intro-regular/intro-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/intro-regular/intro-regular.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/intro-regular/intro-regular.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/intro-regular/intro-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/intro-regular/intro-regular.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/intro-regular/intro-regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Intro-Regular";
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    align-items: center;

}

.button {
    color: #FFFFFF;
    background-color: #5222D0;
    border-radius: 100px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}


.button__buy {
    width: 270px;
    height: 84px;
    font-size: 35px;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header__left {
    width: 40%;
    margin: 5% 0%;
}

.content__title {
    padding-bottom: 40px;
}

.header_nav {
    color: #5222D0;
}

.header {
    margin-left: 10%;
}


.nav__item {
    text-decoration: none;
    font-family: Roboto Slab;
    font-size: 20px;
    margin-right: 34px;
}

.logo {
    display: flex;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 23px;
}

.logo__img {
    align-self: center;
    margin-right: 10%;
}

.header__text {
    font-family: Roboto Slab;
    font-size: 20px;
    Line-height: 32px;
    margin: 5px 0 30px 0;
}


.button__items {
    width: 115px;
    height: 38px;
    font-size: 13px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 130px;
}

.content__card {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 35px;
    margin-right: 30px;

}

.content__text {
    font-family: Roboto Slab;
    font-size: 20px;
}

.title {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bolder;
    Line-height: 72px;
    margin: 0px;
    width: 100%;
}

.content__card_active {
    border: 1px solid #BB2247;
    padding: 35px;
}

.content__card_position {
    position: relative;
    left: -30px;
    margin-bottom: 40px;
}

.content__small-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
}

.content__nav {
    color: black;
    text-decoration: none;
    margin-top: 50px;
}

.content__card-exclusive {
    display: flex;
    background-color: #EC615B;
    color: #FFFFFF;
    width: 365px;
    height: 200px;
}

.button__subscribe {
    Width: 135px;
    Height: 38px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.input-form {
    width: 323px;
    height: 50px;
    border: none;
    margin-top: 10px;
}

.content__card_active img {
    padding-bottom: 7px;
}