
.container {
    text-align: center;
}
.calcform {
    width: 330px;
    margin: auto;
    border-radius: 20px;
    background-color: rgb(230, 232, 235);
    padding-top: 20px;
    padding-bottom: 20px;
}

select {
    width: 230px;
    height: 30px;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
}

.btnform {
    width: 150px;
    height: 25px;
    color: white;
    border: none;
    background-color:darkslategrey ;
    border-radius: 10px;
    margin-top: 15px;
}

.result {
    margin-top: 20px;
    color: darkslategrey;
    font-size: large;
    font-weight: bold;
}