.Container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 90%;
}

.hero {
    border: 1px solid black;
    width: 30vw ;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
span {
    font-weight: bold;
}